.hero {
  background-image: linear-gradient(to right, #F58286, #F8AB96);
  background-size: cover;
  background-position: right;


  @include media-breakpoint-up(xl) {
    min-height: 500px;
  }

  @include media-breakpoint-up(xxl) {
    min-height: 640px;
  }

  @include media-breakpoint-up(xxxl) {
    min-height: 670px;
  }

}

.hero-bg {
  background-image: linear-gradient(to right, #F58286, #F8AB96);
}

.trace-item {
  transition: all 200ms ease;
  background-color: rgba(255, 255, 255, 0.5);
  &:hover {
    background-color: white;
  }
}

.hoverable-i {
  transition: all 200ms ease;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

.topic-link {
  font-weight: 400;
  line-height: 1;
  padding: 0.3rem 0.6rem;

  &:hover {
    background-color: transparentize($color: $lightblue, $amount: .8);
    text-decoration: none;
  }
  
}

.card-shadow {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05)
}

.title-bordered {
  border-bottom: 2px solid $rust;
}

.concept-item {
  @include media-breakpoint-down(xxl) {
    min-width: 210px;
  }
}

.lib-item {
  @include media-breakpoint-down(lg) {
    max-width: 334px;
  }
}

.hero-logo {

  min-width: 236px;
}


  


.github-desc {
  
  @include media-breakpoint-up(md) {
    min-height: 66px;
  }
}

.lib-wrap {
  min-height: calc(100vh - 120px - 38px );
}

.custom-select {
  border-radius: 0px;
  background: #F6F6F6 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1rem center/8px 10px;
}