/* purgecss start ignore */
.navbar {
  background: $white;
  border-bottom: 3px solid $info;
  min-height: 87px;
  transition: background-color 250ms ease-in-out;
  .nav-bg-white & {
    background: $white;
    box-shadow: 6px 3px 12px rgba(68, 68, 68, 0.05)
  }
  
  @include media-breakpoint-down(lg) { 
    background: $white;
  }

  @include media-breakpoint-up(lg) { 
    min-height: 120px;
  }

  // .nav-link {
  //   @include media-breakpoint-up(xxl) { 
  //     font-size: 1.5rem !important;
  //   }
  //   @include media-breakpoint-up(xxxl) { 
  //     font-size: 2rem !important; 
  //   }
  // }
}

.navbar-brand {
  left: 16px;
  top: 16px;
  color: #004454 !important;

  @include media-breakpoint-up(lg) { 
    left: 32px;
  }

  font-size: 1.2rem ;
  @include media-breakpoint-up(sm) { 
    font-size: 1.25rem;
  }
  @include media-breakpoint-up(md) { 
    font-size: 1.56rem;
  }
}

.navbar-toggler  {
  right: 16px;
  top: 16px;
  z-index: 3;
}

.global_nav__link {
  font-size: 1.2rem;
  font-weight: 400;
  color: #0E3877 !important;
  @include media-breakpoint-up(lg) { 
    font-size: 1.5rem;
    left: 32px;
  }
}

.global_nav__btn {
  font-size: 1.2rem;
  font-weight: 400;
  min-width: 130px;
  color: #0E3877 !important;
  @include media-breakpoint-up(lg) { 
    font-size: 1.5rem;

  }
}



/* purgecss end ignore */