<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0047BB"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  
    <meta name="robots" content="noindex" />

    <link rel="stylesheet" href="{{'/css/main.css' | absolute_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/png" href="{{'/img/DAI-Lab-Logo.svg' | relative_url}}"/>
    <link rel="apple-touch-icon" href="{{'/img/DAI-Lab-Logo.svg' | relative_url}}">
 
  </head>
  <body>
    {% include nav.html %}
    {{ content }}
    {% include footer.html %}

    <script src="{{'js/dist/app.bundle.js' | relative_url }}"></script>
    <script src="{{'js/dist/main.bundle.js' | relative_url }}"></script>
    {% comment %}
    {% endcomment %}

    <script>

      function showClearFilter(id, value) {
        var curr = document.getElementById(id)
        curr.classList.replace('d-none', 'd-inline-block')
        curr.innerHTML = `${value} <span class="text-danger">&times;</span>`
      }

      function hideClearFilter(id) {
        var curr = document.getElementById(id)
        curr.classList.replace('d-inline-block', 'd-none')
      }

      function resetTheme() {
        var themeFilter = document.getElementById('allThemes')
        themeFilter.value = 'all';
        filterByThemeProj()
        document.getElementById('clearTheme').classList.replace('d-inline-block', 'd-none')
      }
      function resetProject() {
        var projectFilter = document.getElementById('allProjects')
        projectFilter.value = 'all'
        filterByThemeProj()
        document.getElementById('clearProject').classList.replace('d-inline-block', 'd-none')
      }


      function filterByThemeProj() {
        var themeFilter, projectFilter, themeVal, projectVal, wrapper, items, themeItems, projItems, item, i, searchInput, matchesSearch;

        searchInput = document.getElementById('searchInput');
        filter = searchInput.value.toUpperCase();

        themeFilter = document.getElementById('allThemes')
        projectFilter = document.getElementById('allProjects')
        wrapper = document.getElementById("libWarp");
        items = wrapper.getElementsByClassName('lib-item');
        themeVal = themeFilter.value
        projectVal = projectFilter.value

        var readableTheme = themeVal.replace('theme-', '').replace('-', ' ')
        var readableProject = projectVal.replace('project-', '').replace('-', ' ')


        themeItems = (themeVal === 'all') ? wrapper.getElementsByClassName('lib-item') : wrapper.getElementsByClassName(themeVal)
        projItems = (projectVal === 'all') ? wrapper.getElementsByClassName('lib-item') : wrapper.getElementsByClassName(projectVal)


        var itemsCounter = 0
        for (i = 0; i < items.length; i++) {
          if (themeVal === 'all' && projectVal === 'all') {
            hideClearFilter('clearTheme');
            hideClearFilter('clearProject');
            items[i].style.display = "";
          } else if (themeVal === 'all' && projectVal !== 'all') {
            showClearFilter('clearProject', readableProject)
            hideClearFilter('clearTheme');
            if (items[i].classList.contains(projectVal)) {
              items[i].style.display = "";
            } else {
              items[i].style.display = "none";
              itemsCounter++
            }
          } else if (themeVal !== 'all' && projectVal === 'all') {
            showClearFilter('clearTheme', readableTheme)
            hideClearFilter('clearProject');
            if (items[i].classList.contains(themeVal)) {
              items[i].style.display = "";
            } else {
              items[i].style.display = "none";
              itemsCounter++
            }
          } else if (themeVal !== 'all' && projectVal !== 'all') {
            showClearFilter('clearProject', readableProject)
            showClearFilter('clearTheme', readableTheme)
            if (items[i].classList.contains(projectVal) && items[i].classList.contains(themeVal)) {
              items[i].style.display = "";
            } else {
              items[i].style.display = "none";
              itemsCounter++
            }
          }
          console.log(itemsCounter)
        }

        if (itemsCounter >= items.length) {
          document.getElementById('notFound').classList.replace('d-none', 'd-block')
        } else {
          document.getElementById('notFound').classList.replace('d-block', 'd-none')
        }

        if (filter !== '') {
          var hiddenItemsCounter = 0
          for (i = 0; i < items.length; i++) { 
            item = items[i].querySelector('.lib-name');
            txtValue = item.textContent || item.innerText;
            matchesSearch = txtValue.toUpperCase().indexOf(filter) > -1
            if (matchesSearch && items[i].style.display === '') {
              items[i].style.display = "";
            } else {
              hiddenItemsCounter++
              items[i].style.display = "none";
            }
          }
          
          if (hiddenItemsCounter >= items.length) {
            document.getElementById('notFound').classList.replace('d-none', 'd-block')
          } else {
            document.getElementById('notFound').classList.replace('d-block', 'd-none')
          }
        } 
      }
      
    </script>
  </body>
</html>
